@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue-Regular.ttf');
}

.label {
    -fx-font-family: 'Bebas Neue';
    -fx-font-size: 15;
}

.button {
    -fx-font-family: 'Bebas Neue';
    -fx-background-color: linear-gradient(to top right, #F26419, #F6AE2D);
}