@font-face {
    font-family: 'Cocomat';
    src: url('fonts/CocomatLight-ZXY3.ttf');
}

.label {
    -fx-font-family: 'Cocomat';
    -fx-font-size: 14;
	-fx-font-weight: bold;
}

.button {
    -fx-font-family: 'Cocomat';
    -fx-background-color: linear-gradient(to top right, #F26419, #F6AE2D);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:  #1B5EE3;
}

.tab-pane .tab
{
    -fx-background-color: #1B5EE3;
    -fx-effect: null;
}

.tab .tab-label {
    -fx-font-family: 'Cocomat';
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected{ 
    -fx-background-color: #154bb5;
}